/* CSS de l'en tête */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

main {
    background: rgba(199, 255, 102, 0.797);
}

h1 {
  text-shadow: -1px -1px #fb6, 1px 1px #fb6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 16px; 
  text-align: center;
}

h2 {
    text-align: center;
    border: #fb6 solid 1rem;
    border-radius: 40% 40%;
    background: #2dcaffdf;
}

.navbar-brand {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid {
    background-color: #2dcaffdf;
    margin-top: -7px;
    margin-bottom: -7px;
}

.card-title {
    background: #fb6;
    text-align: center;
}

.card-text {
    background: rgba(199, 255, 102, 0.797);
    text-align: center;
}

.pagination {
    border: solid black 1px;
    background: rgb(255, 204, 0);
}

.don {
    background-color: #008CBA;
    border-radius: 10%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

.don:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    flex-direction: column;
    text-align: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

/* media queries pour le mobile first */

/* media queries pour adapter la photo en mode portrait pour téléphones de 301px de largeur minimum. */

@media screen and (min-width: 301px) and (orientation: portrait) {
    .picture {
       display: block;
       max-height: 80vh;
       max-width: 80vw;
       margin-left: auto;
       margin-right: auto;
    }
}

/* media queries pour adapter la photo en mode paysage pour téléphones de 301 px de largeur. */

@media screen and (min-width: 301px) and (orientation: landscape) {
    .picture {
       display: block;
       max-height: 80vh;
       max-width: 80vw;
       margin-left: auto;
       margin-right: auto;
    }
}

/* media queries pour adapter la photo en mode portrait afin que l'image disparaisse */

@media screen and (max-width: 300px) and (orientation: portrait) {
    .picture {
       display: none;
    }
}

/* media queries pour adapter la photo en mode paysage afin que l'image disparaisse */

@media screen and (max-width: 300px) and (orientation: landscape) {
    .picture {
       display: none;
    }
}

/* media queries pour adapter la photo en mode paysage pour écran de 1366px de largeur. */

@media screen and (min-width: 1366px) and (orientation: landscape) {
    .picture {
        display: block;
        max-height: 80vh;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }   
}

/* media queries pour le mobile first de la deuxième page */

/* media queries pour adapter la photo en mode portrait et paysage pour écran de 301px de largeur. */

@media screen and (min-width: 301px) and (orientation: portrait) {
    .picture-lion {
        display: block;
        max-height: 80vh;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 301px) and (orientation: landscape) {
    .picture-lion {
        display: block;
        max-height: 80vh;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}
/* media queries pour adapter la photo en mode paysage pour écran de 1366px de largeur. */

@media screen and (min-width: 1366px) and (orientation: landscape) {
    .picture-lion {
        display: block;
        max-height: 80vh;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

/* media queries pour adapter la photo en mode portrait afin que l'image disparaisse. */

@media screen and (max-width: 300px) and (orientation: portrait) {
    .picture-lion {
       display: none;
    }
}

/* media queries pour adapter la photo en mode paysage afin que l'image disparaisse. */

@media screen and (max-width: 300px) and (orientation: landscape) {
    .picture-lion {
       display: none;
    }
}

/* media queries pour adapter les placeholders en mode portrait et paysage. */

@media screen and (min-width: 301px) and (orientation: portrait) {
    .card-img {
       display: block;
       max-height: 50%;
       max-width: 50%;
       margin-left: auto;
       margin-right: auto;
    }
}

@media screen and (min-width: 301px) and (orientation: landscape) {
    .card-img {
        display: block;
        max-height: 50%;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}